.navBarCities {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
}
.navBarCities a {
  color: #79b4b7;
  line-height: 40px;
  flex-grow: 1;
  padding: 10px;
  position: relative;
  transition: all 250ms ease-in-out;
}

.navBarCities span {
  position: absolute;
  right: 10px;
  bottom: 0px;
  transition: all 250ms ease-in-out;
}
.navBarCities a.choosenBigBar {
  /* .choosen JS */
  cursor: default;
  background-color: #fefbf3;
  color: #9d9d9d;
  font-weight: 600;
}
.navBarCities a.choosenBigBar span {
  right: 40px;
}

.navBarCities a:not(.choosenBigBar):hover {
  background-color: #79b4b7;
  color: #fefbf3;
}
.navBarCities a:not(.choosenBigBar):hover > span {
  right: 40px;
}
